body {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: url("imgs/__arona_blue_archive.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: auto;
}
h1 {
    font-size: 32px;
}

.container {
    
}

#header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
#endless a {
    text-decoration: none;
}
#endless button {
    background: #a60c17;
    border-color: #a60c17;
    color: #fff;
}
#endless button:hover {
    background: #000;
    border-color: #000;
}

#previous-day-character {
    width: 30%;
    color: #e7e7e7;
    margin: 20px auto;
    text-align: center;
}
#previous-day-character p {
    background: rgba(51, 51, 51, 0.7);
    padding: 10px;
    border-radius: 12px;
}
#previous-day-character img {
    border-radius: 10px;
    margin-top: 10px;
}

#countdown {
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    color: #e7e7e7;
    width: 30%;
    border-radius: 12px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.7);
}

h1 {
    color: #e7e7e7;
}

button {
    padding: 10px;
    cursor: pointer;
    transform: skewX(-10deg);
    color: #21709e;
    border: 1px solid #fff;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
}
button:hover {
    background: #21709e;
    color: #fff;
    border-color: #21709e;
}
#searchButton {
    background: #7cd5eb;
    color: #3b506c;
    border-color: #7cd5eb;
}
#searchButton:hover {
    background: #e1e052;
    border-color: #e1e052;
}
#suggestions button {
    margin-left: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    transform: skewX(-10deg);
    margin-bottom: 10px;
}

#suggestions {
    position: absolute;
    inset: 0;
    top: 220px;
    z-index: 100;
    margin: 10px auto;
    width: 520px;
    max-width: 90vw;
    height: 30vw;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    overflow: scroll;
}
#suggestions img {
    width: 5vw !important;
    height: 5vw !important;
}
.endlessSuggestion {
    top: 240px !important;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#suggestions div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

#headrow {
    width: 80%;
    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 5px;
}
#headrow div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    border: 2px solid transparent;
    color: #e7e7e7;
    background: #213a57;
    border-radius: 5px;
    transform: skewX(-10deg);
}

pre {
    display: none;
}

#result {
    display: none;
    color: #e7e7e7;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
#result button {
    margin-left: 10px;
}
.resultNormal button {
    font-size: 18px;
}

#guesses {
    min-height:400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-row {
    width: 80%;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.guess-square {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    border-radius: 12px;
    color: #e7e7e7;
}
.dmgIcon,.schoolImg {
    width: 65%;
}
.roleImg {
    width: 80%;
}
.guess-square img {
    border-radius: 12px;
}
.sq2,.sq3,.sq4,.sq5,.sq6,.sq7,.sq8 {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.guess-row > .guess-square.correct {
    background-color: green;
    color: white;
    -webkit-animation: swirl-in-fwd 0.6s ease-out both;
	animation: swirl-in-fwd 0.6s ease-out both;
}
.sq3 {
    animation-delay: 0.2s !important;
}
.sq4 {
    animation-delay: 0.4s !important;
}
.sq5 {
    animation-delay: 0.6s !important;
}
.sq6 {
    animation-delay: 0.8s !important;
}
.sq7 {
    animation-delay: 1s !important;
}
.sq8 {
    animation-delay: 1.2s !important;
}

.icon {
    padding-left: 10px;
}

#streak {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}

.endlessResult {
    width: 50%;
    margin: 0 auto;
    background: rgba(51, 51, 51, 0.7);
    padding: 10px;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 5px;
}

#retryButton, #continueButton {
    margin: 10px auto;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: #3b506c;
    transform: skewX(-10deg);
}
#retryButton {
    color: #fff;
    background: #a60c17;
    border-color: #a60c17;
    border-radius: 5px;
}
#retryButton:hover {
    background: #000;
    border-color: #000;
}
#continueButton {
    background: #7cd5eb;
    border-color: #7cd5eb;
}
#continueButton:hover {
    background: #e1e052;
    border-color: #e1e052;
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .guess-row, #headrow {
        width: 45%;
    }
    #headrow div {
        font-size: 16px;;
    }
    .guess-square {
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    button {
        font-size: 12px;
    }
    #header button {
        font-size: 10px;
    }
    .guess-square,#headrow {
        font-size: 1.3vw;
    }
}
.unskew {
    transform: skewX(10deg) !important;
}

